In [27]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
df=pd.read_csv('Development_sample_2.csv')

In [4]:
print(df)

      Unnamed: 0      ID FLAGBINARY                  PHONE        MSTAT  \
0              0     1.0        Bad      Home number given       Single
1              1     2.0       Good      Home number given       Single
2              2     3.0        Bad  No phone number given      Married
3              3     5.0        Bad  No phone number given      Widowed
4              4     6.0       Good      Home number given      Married
...          ...     ...        ...                    ...          ...
4995        4995  6993.0        Bad      Home number given       Single
4996        4996  6994.0       Good      Home number given      Married
4997        4997  6997.0       Good  No phone number given     Divorced
4998        4998  6998.0       Good      Home number given      Married
4999        4999  7000.0       Good      Home number given  Co-habiting

              RSTAT  KIDS                    CARDI CARDH2   AGE  ...  \
0      Renting flat   0.0  No card insurance taken     No  65.0  ...
1      Renting flat   0.0  No card insurance taken     No  22.0  ...
2     Renting house   3.0  No card insurance taken     No  41.0  ...
3        Home owner   6.0  No card insurance taken     No  40.0  ...
4      Renting flat   0.0  No card insurance taken     No  70.0  ...
...             ...   ...                      ...    ...   ...  ...
4995   Renting flat   0.0  No card insurance taken     No  24.0  ...
4996   Renting flat   1.0  No card insurance taken     No  34.0  ...
4997     Home owner   2.0  No card insurance taken     No  35.0  ...
4998   Renting flat   2.0  No card insurance taken     No  39.0  ...
4999   Renting flat   1.0  No card insurance taken     No  25.0  ...

      AgeGrouped  Age_d_1  Age_d_2  Age_d_3  Age_d_4  Age_d_5  Age_d_6  \
0           10.0      0.0      0.0      0.0      0.0      0.0      0.0
1            1.0      1.0      0.0      0.0      0.0      0.0      0.0
2            6.0      0.0      0.0      0.0      0.0      0.0      1.0
3            6.0      0.0      0.0      0.0      0.0      0.0      1.0
4           10.0      0.0      0.0      0.0      0.0      0.0      0.0
...          ...      ...      ...      ...      ...      ...      ...
4995         2.0      0.0      1.0      0.0      0.0      0.0      0.0
4996         5.0      0.0      0.0      0.0      0.0      1.0      0.0
4997         6.0      0.0      0.0      0.0      0.0      0.0      1.0
4998         6.0      0.0      0.0      0.0      0.0      0.0      1.0
4999         2.0      0.0      1.0      0.0      0.0      0.0      0.0

      Age_d_7  Age_d_8 AgeWoe
0         0.0      1.0   1.13
1         0.0      0.0  -0.93
2         0.0      0.0   0.23
3         0.0      0.0   0.23
4         0.0      1.0   1.13
...       ...      ...    ...
4995      0.0      0.0  -0.69
4996      0.0      0.0   0.47
4997      0.0      0.0   0.23
4998      0.0      0.0   0.23
4999      0.0      0.0  -0.69

[5000 rows x 30 columns]

In [6]:
df['PHONE'].value_counts()

Home number given        4633
No phone number given     351
'Other number given        16
Name: PHONE, dtype: int64

In [21]:
cross1=pd.crosstab(df['PHONE'],df['FLAGBINARY'],margins=True,margins_name='Total')
cross2=pd.crosstab(df['PHONE'],df['FLAGBINARY'],normalize='index')

In [28]:
c, p, dof, expected = stats.chi2_contingency(cross2)

In [29]:
p

0.9489711579769308

In [30]:
c

0.10475374569986988

In [31]:
dof

2

In [32]:
expected

array([[0.18303964, 0.81696036],
       [0.18303964, 0.81696036],
       [0.18303964, 0.81696036]])

In [33]:
#df['Phone1']=df['PHONE']

In [40]:
df.loc[df['PHONE']=='Home number given','Phone1']=1
df.loc[df['PHONE']!='Home number given','Phone1']=0

In [41]:
print(df['Phone1'])

0       1
1       1
2       0
3       0
4       1
       ..
4995    1
4996    1
4997    0
4998    1
4999    1
Name: Phone1, Length: 5000, dtype: object

In [42]:
pd.crosstab(df['Phone1'],df['FLAGBINARY'],margins=True,margins_name='Total')

FLAGBINARY  Bad  Good  Total
Phone1
0           102   265    367
1           645  3988   4633
Total       747  4253   5000

In [43]:
df.loc[df['Phone1']==1,'PhoneWoe']=0.08
df.loc[df['Phone1']==0,'PhoneWoe']=-0.79

In [44]:
print(df['PhoneWoe'])

0       0.08
1       0.08
2      -0.79
3      -0.79
4       0.08
        ...
4995    0.08
4996    0.08
4997   -0.79
4998    0.08
4999    0.08
Name: PhoneWoe, Length: 5000, dtype: float64

In [45]:
pd.crosstab(df['MSTAT'],df['FLAGBINARY'],margins=True,margins_name='Total')

FLAGBINARY   Bad  Good  Total
MSTAT
Co-habiting   20   126    146
Divorced      69   352    421
Married      257  2280   2537
Single       391  1348   1739
Widowed       10   147    157
Total        747  4253   5000

In [49]:
df.loc[(df['MSTAT']=='Co-habiting')|(df['MSTAT']=='Divorced'),'MSgrouped']=3
df.loc[df['MSTAT']=='Single','MSgrouped']=2
df.loc[(df['MSTAT']=='Married')|(df['MSTAT']=='Widowed'),'MSgrouped']=1

In [50]:
print(df['MSgrouped'])

0       2.0
1       2.0
2       1.0
3       1.0
4       1.0
       ...
4995    2.0
4996    1.0
4997    3.0
4998    1.0
4999    3.0
Name: MSgrouped, Length: 5000, dtype: float64

In [51]:
df['Married1']=0
df['Married2']=0
df.loc[df['MSgrouped']==1,'Married1']=1
df.loc[df['MSgrouped']==2,'Married2']=1